<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE BLOG</title>
    <link rel="stylesheet"  href="/styles/page1style.css">
</head>
<body>
    <form id="newpost" action="/create/post" method="post">
        <h1 class="postdetails">CREATE NEW POST</h1>
        <label for="sports">Title :</label>
        <input class="int1" type="text" name="sports">
        <label for="player">Content :</label>
        <input class="int2" type="text" name="player">
        <label for="playername">Author :</label>
        <input class="int3" type="text" name="playername">
        <div class="button"><input class= "btn" type="submit"></div>
    </form>
    
</body>
</html>